[Unit]
Description=PiFinderSplash

[Service]
WorkingDirectory=/home/pifinder/EZTFinder5/python
ExecStart=/home/pifinder/EZTFinder5/python/.venv/bin/python -m PiFinder.splash

[Install]
WantedBy=basic.target
